body {
    background-color:#EAF6F6 ;
}
hr 
{
    border-style: none;
    border-top-style: dotted ;

    border-width: 5px;
    border-color: grey;
    width : 5%;
}
h1
{ 
    border-style: round;
    
    color: #66BFBF;
}
h5
{color: #66806A ;}
th {
    border: 2px solid #CEE5D0;
    
    border-radius: 15px;
    height: 1px;
    border-style: inset ;
    border-color: white;
    padding:2px;
  }
  select{
    color: #99A799;
  }
  
